@* Copyright © 2017-2019 SOFTINUX. All rights reserved.
    Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@

<h1>Hello from SampleApi</h1>
<p>Did you get the javascript alert?</p>

@section Scripts {
    <script  type="text/javascript">
        alert("Hello from SampleApi");
    </script>
}